:root {
    --primary-color: rgb(255, 0, 98);
    --secondary-color:rgb(255, 183, 0);
    --text-color-normal:black;
    --base-color-white:white;
    --background-color:gray;
    --box-shadow:0px 1px 5px rgba(158, 158, 158, 0.573);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color-normal);
}

/* Header Section */

header {
    background-color: var(--base-color-white);
    box-shadow: var(--box-shadow);
    padding: 15px 20px;
    /* border: 1px solid red; */
    
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid rgb(136, 0, 255); */
}

.logo-menu {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    img {
        width: 30px;
        height: auto;
    }
}


/* Button Style */
    .btn-filled {
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid var(--primary-color);
        transition: all 0.3s ease;
        
        background-color: var(--primary-color);
        color: var(--base-color-white);

    }
    .btn-filled:hover {
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid var(--secondary-color);
        
        background-color: var(--secondary-color);
        color: var(--base-color-white);

    }
    .btn-outline {
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid var(--secondary-color);

        background-color: var(--base-color-white);
        color: var(--secondary-color);
        transition: all 0.3s ease;

    }
    .btn-outline:hover {

        background-color: var(--secondary-color);
        color: var(--base-color-white);

    }

/* Menu */
nav {
    margin-left: 20px;
    align-self: center;
    ul{
        display: flex;
        gap: 15px;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        font-weight: bold;
        color: rgb(255, 0, 98);
    }
    a:hover {
        color: rgb(255, 196, 0);
    }
}

/* Container Section */
.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px ;

    /* Hero Section */
    .hero {
        display: flex;
        justify-content: space-between; 
        align-items: center;

        .left-side {
            width: 50%;
            /* border: 1px solid red; */
            h1 {
                color: var(--secondary-color);
                font-size: 2.5rem;
                margin-bottom: 24px;
            }
            p {
                font-size: 1.2rem;
                margin: 24px 0;
            }
        }
        .right-side {
            /* border: 1px solid rgb(0, 76, 255); */
            width: 50%;
            img {
                width: 100%;
            }
        }
    }
}
/*solutio section*/

.solution{
  margin-top: 50px;
}
.solution-heading{
  text-align: center;
  margin-bottom: 24px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 24px;
  }

h2{
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 24px;
}

.solution-content{
  display: flex;
  justify-content: space-between;

    .item{
    width: 32%;
}
}


.item{
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 20px;
  /*margin: 10px;*/
}

/*discover section*/

.discover-content{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}




